<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form role="form" method="post" th:action="@{/register}"  th:object="${userRegistrationDto}">
    <input type="hidden" th:field="*{id}">
    <label>Email:</label><br>
    <input type="text"  id="email" name="email" th:field="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <br>
    <label>Username:</label><br>
    <input type="text"  id="username" name="username" th:field="*{username}">
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <br>
    <label>Password:</label><br>
    <input type="text"  id="password" name="password" th:field="*{password}">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <br>
    <button th:href="@{/login}" type = "submit">Already have account ? Login here</button>
    <input type="submit" value="Submit">
</form>
</body>
</html>